body{
    background-color: #f5f5f5;
}
.content{
    position: absolute;
    width: 350px;
    height: 275px;
    left: 50%;
    top: 50%;
    border: 2px solid #686868;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
}
.content h1{
    text-align: center;
    width: 100%;
}
.content .form-group{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.content .form-group label{
    width: 85px;
    font-size: 18px;
}
.content .form-group input{
    width: 220px;
    height: 25px;
    border: 1px solid #989898;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
}
.content .form-group .error{
    width: 300px;
    text-align: right;
    padding: 0 5px;
    height: 20px;
    color: red;
    font-size: 12px;
}
.content .form-group button{
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}